.message_box_modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(50,50,50,.1);
    z-index: 1000;

    .message_box {
        max-width: 40em;
        max-height: 60vh;
        border-radius: 1em;
        background-color: white;

        .message_box__title {
        }
        .message_box__content {
            overflow: auto;
        }
        .message_box__buttons {
        }
    }
}